.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y:scroll ;
    position: fixed;
    top: 50px;
    width: 25%;

}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(236, 236, 236);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(172, 172, 172);
}

.sidebarWrapper{
padding: 20px;
}

.sidebarList{
    list-style: none;
    padding-left: 0;
}

.sidebarListItem{
    display: flex;
    align-items:end;
    margin-bottom: 20px;
}

.sidebarIcon{
    margin-right: 15px;
}
.sidebarButton{
 width: 150px;
 border: none;
 border-radius:5px ;
 font-weight: 500;
 padding: 10px;
}

.sidebarHr{
    margin: 20px 0px;
}

.sidebarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebarFriend{
    display: flex;
    align-items: center;
    padding: 5px 0px;
    margin-bottom:5px ;
}

.sidebarFriendImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover; /* image fit completely without stretching */
}
.sidebarFriendName{
    margin-left: 15px;
}
