.btn-primary{
    font-size: xx-large;
    background-color: #1d64ff;
    padding:10px 15px ;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    color:white;
}

.btn-primary:hover{
    background-color: #387eff;
}