.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position:sticky;
    top: 0;
}

.logo{
    font-size: 24px;
    cursor: pointer;
    font: bold;
    color: white;
    margin-left: 20px;
}

.topbarLeft{
    flex: 3;
}
.topbarCenter{
    flex: 5;
}
.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarlinks{
    display: flex;
    align-items: center;
}
.topbarlink{
    margin-right: 10px;
    cursor: pointer;
}

.topbarIcons{
    display: flex;
    align-items: center;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge{
    background-color: red;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;    
    right: -5px;    
    border-radius: 50%;
    font-size: 15px;
}


.searchbar{
    height: 30px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius:15px ;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchIcon{
    font-size: 26px !important;
    margin: 5px;
}
.searchInput:focus{
    outline: none;
}

.topbarImg{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}